.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
.DS_Store
**/CNAME
**/* 2.*
**/* 2
posts/landspitali/
posts/brautskraningar/
docs/posts/landspitali/
docs/posts/brautskraningar/
_freeze/posts/landspitali/
_freeze/posts/brautskraningar/